.lunbo .box{
	height:3.06rem;
}
.blue{
	background: url(http://missfresh-asschool-develop-common.ufile.ucloud.com.cn/img_20170320161842580.jpg) no-repeat;
	background-size:cover;
}
.yellow{
	background: url(http://missfresh-asschool-develop-common.ufile.ucloud.com.cn/img_20170326232530631.jpg) no-repeat;
	background-size:cover;
}
 .pink{
	background: url(http://missfresh-asschool-develop-common.ufile.ucloud.com.cn/img_20161210094309483.jpg) no-repeat;
	background-size:cover;
}
			