		<!--导航-->
		<div class="bar bar-header bar-positive">
	  	<h1 class="title">九堡</h1>
	  	<button class="button button-icon icon ion-search">
	  		搜索
	  	</button>
		</div>
		<ion-content class="has-header has-footer">
			<!--轮播图-->
		<ion-slide-box class="lunbo" does-continue="true" auto-play="true">
				  <ion-slide>
				    <div class="box blue"></div>
				  </ion-slide>
				  <ion-slide>
				    <div class="box yellow"></div>
				  </ion-slide>
				  <ion-slide on-slide-changed="slideHasChanged(index)">
				    <div class="box pink"></div>
				  </ion-slide>
		</ion-slide-box>
		<!--产品列表-->
			<div class="list">
				<a class="item item-thumbnail-left" href="#">
			       <img src="https://image.missfresh.cn/product_images/A9AE74BFF5157D8561612B744FAA61AF.JPG">
			       <h2>胡姬花古法小榨花生油900ML</h2>
			       <p>滴滴珍贵  选取初榨精华</p>
			       <p>
				       	<em>
				       		非转基因
				       	</em>
			       </p>
			       <p>可用劵价73.9</p>
			       <p>打喵会员价￥37.9</p>
		    	</a>
		    	<a class="item item-thumbnail-left" href="#">
			       <img src="https://image.missfresh.cn/product_images/A9AE74BFF5157D8561612B744FAA61AF.JPG">
			       <h2>胡姬花古法小榨花生油900ML</h2>
			       <p>滴滴珍贵  选取初榨精华</p>
			       <p>
				       	<em>
				       		非转基因
				       	</em>
			       </p>
			       <p>可用劵价73.9</p>
			       <p>打喵会员价￥37.9</p>
		    	</a>
		    	<a class="item item-thumbnail-left" href="#">
			       <img src="https://image.missfresh.cn/product_images/A9AE74BFF5157D8561612B744FAA61AF.JPG">
			       <h2>胡姬花古法小榨花生油900ML</h2>
			       <p>滴滴珍贵  选取初榨精华</p>
			       <p>
				       	<em>
				       		非转基因
				       	</em>
			       </p>
			       <p>可用劵价73.9</p>
			       <p>打喵会员价￥37.9</p>
		    	</a>
		    	<a class="item item-thumbnail-left" href="#">
			       <img src="https://image.missfresh.cn/product_images/A9AE74BFF5157D8561612B744FAA61AF.JPG">
			       <h2>胡姬花古法小榨花生油900ML</h2>
			       <p>滴滴珍贵  选取初榨精华</p>
			       <p>
				       	<em>
				       		非转基因
				       	</em>
			       </p>
			       <p>可用劵价73.9</p>
			       <p>打喵会员价￥37.9</p>
		    	</a>
		    	<a class="item item-thumbnail-left" href="#">
			       <img src="https://image.missfresh.cn/product_images/A9AE74BFF5157D8561612B744FAA61AF.JPG">
			       <h2>胡姬花古法小榨花生油900ML</h2>
			       <p>滴滴珍贵  选取初榨精华</p>
			       <p>
				       	<em>
				       		非转基因
				       	</em>
			       </p>
			       <p>可用劵价73.9</p>
			       <p>打喵会员价￥37.9</p>
		    	</a>
		    	<a class="item item-thumbnail-left" href="#">
			       <img src="https://image.missfresh.cn/product_images/A9AE74BFF5157D8561612B744FAA61AF.JPG">
			       <h2>胡姬花古法小榨花生油900ML</h2>
			       <p>滴滴珍贵  选取初榨精华</p>
			       <p>
				       	<em>
				       		非转基因
				       	</em>
			       </p>
			       <p>可用劵价73.9</p>
			       <p>打喵会员价￥37.9</p>
		    	</a>
		    	<a class="item item-thumbnail-left" href="#">
			       <img src="https://image.missfresh.cn/product_images/A9AE74BFF5157D8561612B744FAA61AF.JPG">
			       <h2>胡姬花古法小榨花生油900ML</h2>
			       <p>滴滴珍贵  选取初榨精华</p>
			       <p>
				       	<em>
				       		非转基因
				       	</em>
			       </p>
			       <p>可用劵价73.9</p>
			       <p>打喵会员价￥37.9</p>
		    	</a>
		    	<a class="item item-thumbnail-left" href="#">
			       <img src="https://image.missfresh.cn/product_images/A9AE74BFF5157D8561612B744FAA61AF.JPG">
			       <h2>胡姬花古法小榨花生油900ML</h2>
			       <p>滴滴珍贵  选取初榨精华</p>
			       <p>
				       	<em>
				       		非转基因
				       	</em>
			       </p>
			       <p>可用劵价73.9</p>
			       <p>打喵会员价￥37.9</p>
		    	</a>
		    	<a class="item item-thumbnail-left" href="#">
			       <img src="https://image.missfresh.cn/product_images/A9AE74BFF5157D8561612B744FAA61AF.JPG">
			       <h2>胡姬花古法小榨花生油900ML</h2>
			       <p>滴滴珍贵  选取初榨精华</p>
			       <p>
				       	<em>
				       		非转基因
				       	</em>
			       </p>
			       <p>可用劵价73.9</p>
			       <p>打喵会员价￥37.9</p>
		    	</a>
		    	<a class="item item-thumbnail-left" href="#">
			       <img src="https://image.missfresh.cn/product_images/A9AE74BFF5157D8561612B744FAA61AF.JPG">
			       <h2>胡姬花古法小榨花生油900ML</h2>
			       <p>滴滴珍贵  选取初榨精华</p>
			       <p>
				       	<em>
				       		非转基因
				       	</em>
			       </p>
			       <p>可用劵价73.9</p>
			       <p>打喵会员价￥37.9</p>
		    	</a>
			</div>
		</ion-content>