		<!--导航-->
		<div class="bar bar-header ">
	  	<h1 class="title">定位中...</h1>
	  	<button class="button button-icon icon ion-search button-background-light ">
	  		搜索
	  	</button>
		</div>
		<ion-content class="has-header has-footer">
			<!--轮播图-->
		<ion-slide-box class="lunbo" does-continue="true" auto-play="true">
				  <ion-slide>
				    <div class="box blue"></div>
				  </ion-slide>
				  <ion-slide>
				    <div class="box yellow"></div>
				  </ion-slide>
				  <ion-slide on-slide-changed="slideHasChanged(index)">
				    <div class="box pink"></div>
				  </ion-slide>
		</ion-slide-box>
		<!--产品列表-->
			<div class="list">
				<ly-singlecart ng-repeat="product in products" product="product">
					
				</ly-singlecart>
		    	
			</div>
		</ion-content>
